body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEF6E4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.get-started-link {
  background-color: #F582AE;
  color: #ffffff;
  text-decoration: none;
  padding: 11px 16px;
  font-weight: 700;
  border-radius: 4px;
  font-size: 1.2rem;
}

.landing-page {
  padding: 150px 33px 20px;
}

.landing-page-heading-1 {
  text-align: left;
}

.landing-page-heading-2 {
  text-align: left;
  margin-bottom: 32px;
}

.find-a-mentor {
  padding: 150px 33px 20px;
}

.find-a-mentor-heading-1 {
  text-align: left;
}

.find-a-mentor-heading-2 {
  text-align: left;
  margin-bottom: 32px;
}

button.landing-page-button {
  border: solid 1px grey;
  color: grey;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: none;
  font-family: 'Lexend Deca';
  margin-right: 10px;
}

button.landing-page-button:hover {
  color: black;
  border-color: black;
}